* {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
      max-width: 1500px;
  }
  
  .banner {
      width: 100%;
      background: url("images/page-banner.png");
      background-size: cover;
      background-position: center;
      height: 220px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      line-height: 1.7em;
      padding-top: 15rem;
      padding-bottom: 10rem;
  }
  
  nav {
      display: flex;
      gap: 7px;
      font-size: 16px;
  }
  
  .banner h1 {
      color: #fff;
      font-size: 20px;
  }
  
  .orange-link {
      color: #F79023;
  }
  
  .c-banner,
  span {
      color: #fff;
  }
  
  .desc-sup h1 {
      font-size: 17px;
  }
  
  .desc {
      color: #5b5f64;
      font-size: 16px;
  }
  
  .cont-grid {
      display: grid;
      grid-template-columns: repeat( 4,minmax(280px,1fr) );
      grid-template-rows: repeat(auto, 400px);
      justify-content: center;
      column-gap: 2rem;
      row-gap: 2rem;
      /* margin: 0 6.4rem; */
  }
  
  img {
      width: 300px;
      object-fit: cover;
      /* height: 400px; */
      background-color: #f6F6F6;
  }
  
  .desc-sup {
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 1.5em;
      flex-wrap: wrap;
  }
  
  section {
      padding: 4rem 10rem;
  }
  
  @media screen and (max-width: 600px) {
      .cont-grid {
          width: 100%;
        grid-template-columns: 1fr 1fr ;
      }
      
      .desc{
        width: 100%;
      }
      .item {
        width: 100%;
      }
      img{
        width: 100%;
      }
      .grid{
        width: 100%;
      }
  
      .banner {
          width: 100%;
      }
      
  }
  